 
    <div class="side-container">
        <article class="title-container">
            <h1 class="side-title">MENÚ PRINCIPAL</h1>
        </article>
        <div class="side-list">
            @for(listaMenu of menuPrincipal;track listaMenu.name){
                <li [routerLink]="listaMenu.router"  class="side-module" >
                    <div>
                        <span>{{listaMenu.name}}</span>
                    </div>
                </li>
            }
          
        </div>
    </div>

     